@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

.landing-section {
  background: url('../images/splash.jpg') no-repeat center center/cover;
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 3s ease-in-out;
}

.symbol-image {
  position: absolute;
  top: 30%;
  left: 87%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: slideInFromTop 2s ease-in-out;
}

.ribbon, .slogan {
  position: absolute;
  right: 20px;
  z-index: 3;
  text-align: right;
  color: #3b5998;
  animation: fadeIn 3s ease-in-out;
}

.ribbon {
  top: 40%;
  animation-delay: 1s;
}

.ribbon h2 {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Algerian', sans-serif;
}

.slogan {
  top: 55%;
  animation-delay: 1.5s;
}

.since-1992 p {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
}

.colour-ur-dreams p {
  margin: 2px 0;
  font-size: 5rem;
  font-family: 'Forte', cursive;
}

.colour-ur-dreams p span {
  font-family: 'Forte';
}

.colour-ur-dreams p span:nth-child(1) { color: #ff0000; /* Red */ }
.colour-ur-dreams p span:nth-child(2) { color: #00ff00; /* Green */ }
.colour-ur-dreams p span:nth-child(3) { color: #0000ff; /* Blue */ }
.colour-ur-dreams p span:nth-child(4) { color: #ff00ff; /* Magenta */ }
.colour-ur-dreams p span:nth-child(5) { color: #ff6600; /* Orange */ }
.colour-ur-dreams p span:nth-child(6) { color: #cc00cc; /* Purple */ }
.colour-ur-dreams p span:nth-child(7) { color: #008080; /* Teal */ }
.colour-ur-dreams p span:nth-child(8) { color: #800000; /* Maroon */ }
.colour-ur-dreams p span:nth-child(9) { color: #6600cc; /* Indigo */ }
.colour-ur-dreams p span:nth-child(10) { color: #339966; /* Green */ }
.colour-ur-dreams p span:nth-child(11) { color: #993300; /* Brown */ }
.colour-ur-dreams p span:nth-child(12) { color: #003366; /* Navy */ }
.colour-ur-dreams p span:nth-child(13) { color: #cc3300; /* Dark Orange */ }
.colour-ur-dreams p span:nth-child(14) { color: #003300; /* Dark Green */ }
.colour-ur-dreams p span:nth-child(15) { color: #ff3333; /* Light Red */ }
.colour-ur-dreams p span:nth-child(16) { color: #ffcc00; /* Gold */ }
.colour-ur-dreams p span:nth-child(17) { color: #330099; /* Dark Purple */ }
.colour-ur-dreams p span:nth-child(18) { color: #336600; /* Dark Green */ }
.colour-ur-dreams p span:nth-child(19) { color: #990033; /* Dark Red */ }
.colour-ur-dreams p span:nth-child(20) { color: #660000; /* Dark Maroon */ }

.slide-container {
  position: absolute;
  left: 15px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(50% - 10px);
  animation: slideUp 8s linear infinite;
  z-index: 1;
}

.slide-image {
  padding-right: 3.5%;
  width: 150px;
  height: 250px;
  object-fit: cover;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.aboutus {
  background-color: whitesmoke;
  height: 50vh;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

.aboutus-image {
  margin-left: 9%;
  width: 160px;
  height: 160px;
  border: 2px solid #000;
  margin-right: 20px;
}

.aboutus-content {
  align-items: center;
  max-width: 1000px;
  padding-left: 20px;
}

.aboutus h2 {
  font-size: 4rem;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #3b5998;
}

.style7 {
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 10%;
  align-content: center;
}

.more-info {
  color: #3b5998;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.more-info:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .aboutus {
    flex-direction: column-reverse;
  }

  .aboutus-image {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .aboutus-content {
    padding-left: 0;
    text-align: center;
  }

  .slide-container {
    position: absolute;
    left: 10px;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(100% - 20px);
    overflow-x: hidden;
    z-index: 1;
  }

  .slide-image {
    width: 120px;
  }

  .slide-image:nth-child(1),
  .slide-image:nth-child(2),
  .slide-image:nth-child(3),
  .slide-image:nth-child(4) {
    width: 100%;
  }
}

.products-section {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  animation: slideInFromTop 1s ease-in-out;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  
}

.product-card h3 {
  font-size: 1.6rem;
  margin: 10px 0;
}

.product-card .more-info {
  color: #3b5998;
  text-decoration: none;
  font-weight: bold;
}

.product-card .more-info:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}
