.rd-image-container {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden; /* Ensures that the image doesn't overflow */
}

.rd-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without being stretched */
    object-position: bottom; /* Positions the image so the bottom part is visible */
    display: block;
}


.rd-header {
    text-align: center;
    margin-top: 20px; /* Adjust if you want some space below the image */
}

.rd-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rd-description, .rd-list {
    margin: 20px 0;
    text-align: left;
    font-weight: bold;
    font-size: 25px; /* Adjust the font size as needed */
    max-width: 800px; /* Optional: to limit the content width */
    width: 100%;
}